body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}

div{
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h3 {
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span {
    display: inline-block;
    margin: 10px 0;
    font-size: 14px;
    color: #777;
}

.pagination {
    margin-top: 10px;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #555;
}

.cart-icon {
    color: #3498db;
    font-size: 24px;
    margin-right: 8px;
}